{% extends 'base.html' %}
{% block content %}
<h1>About Me</h1>

<div class="row mt-4">
    <!-- About Section -->
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">
                    I am a final-year Master's student at the Indian Institute of Science (IISc) with a strong focus on applying machine learning, deep learning, and language models to solve complex problems in biological research. I am a quick learner with a passion for exploring innovative AI solutions and a proven track record of working on challenging projects.
                </p>
                <p class="card-text">
                    I am actively seeking job opportunities in <strong>Machine Learning</strong>, <strong>Computational Biology</strong>, and <strong>Quantitative Trading</strong> firms. With my interdisciplinary expertise and enthusiasm for problem-solving, I aim to contribute effectively to cutting-edge teams.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Details Section -->
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Contact Details</h5>
                <p class="card-text">
                    <strong>Email:</strong> <a href="mailto:manir@iisc.ac.in">manir@iisc.ac.in</a><br>
                    <strong>Phone:</strong> +91-9480225156<br>
                    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/manikumar-ksr/" target="_blank">linkedin.com/in/manikumar-ksr</a><br>
                    <strong>GitHub:</strong> <a href="https://github.com/Manikumarksr" target="_blank">github.com/Manikumarksr</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
