{% extends 'base.html' %}
{% block content %}
<h1>Publications</h1>

<div class="row mt-4">
    <!-- Publication 1 -->
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Yeast Knowledge Graphs Database for Exploring Saccharomyces cerevisiae and Schizosaccharomyces pombe</h5>
                <p class="card-text">
                    <strong>Authors:</strong> Mani R Kumar, Karthick Raja Arulprakasam, An-Nikol Kutevska, Marek Mutwil, Guillaume Thibault<br>
                    <strong>DOI:</strong> <a href="https://www.biorxiv.org/content/10.1101/2024.12.04.626523v1" target="_blank">10.1101/2024.12.04.626523</a><br>
                    <strong>Published:</strong> December 2024
                </p>
                <a href="https://www.biorxiv.org/content/10.1101/2024.12.04.626523v1" target="_blank" class="btn btn-primary">
                    View Publication
                </a>
            </div>
        </div>
    </div>

    <!-- Publication 2 -->
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Harnessing Full-Text Publications for Deep Insights into C. elegans and Drosophila Biomaps</h5>
                <p class="card-text">
                    <strong>Authors:</strong> Karthick Raja Arulprakasam, Janelle Wing Shan Toh, Herman Foo, Mani R Kumar, An-Nikol Kutevska, Emilia Emmanuelle Davey, Marek Mutwil, Guillaume Thibault<br>
                    <strong>DOI:</strong> <a href="https://doi.org/10.1186/s12864-024-10997-6" target="_blank">10.1186/s12864-024-10997-6</a><br>
                    <strong>Published:</strong> BMC Genomics, 2024
                </p>
                <a href="https://doi.org/10.1186/s12864-024-10997-6" target="_blank" class="btn btn-primary">
                    View Publication
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
