{% extends 'base.html' %}
{% block content %}
<h1>Skills</h1>

<div class="row mt-4">
    <!-- Programming Languages -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <p class="card-text">
                    Python, Bash (Linux), C++, R
                </p>
            </div>
        </div>
    </div>

    <!-- Web Technologies and DBMS -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Web Technologies and DBMS</h5>
                <p class="card-text">
                    HTML, CSS, Flask, React, Bootstrap, CytoscapeJS, MongoDB, SQL
                </p>
            </div>
        </div>
    </div>

    <!-- Data Science & Machine Learning -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Data Science & Machine Learning</h5>
                <p class="card-text">
                    Supervised &amp; Unsupervised Algorithms, Deep Learning (CNN, RNN, LSTM, GANs, VAEs),
                    Regularisation Methods, Fine-Tuning, Explainable AI (SHAP, LIME),
                    Natural Language Processing (NLP), Generative AI, Prompt Engineering,
                    Retrieval-Augmented Generation (RAG)
                </p>
            </div>
        </div>
    </div>

    <!-- Libraries & Frameworks -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Libraries & Frameworks</h5>
                <p class="card-text">
                    Databricks, PyTorch, Scikit-learn, TensorFlow, OpenCV, Transformers, Langchain, Spacy,
                    Pandas, Pyspark, NumPy, Matplotlib, Seaborn, Networkx, Plotly, Streamlit
                </p>
            </div>
        </div>
    </div>

    <!-- Cloud Technologies -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Cloud Technologies</h5>
                <p class="card-text">
                    Microsoft Azure, Google Cloud, Docker, Kubernetes
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
