{% extends 'base.html' %}
{% block content %}
<h1>Skills</h1>

<div class="row mt-4">
    <!-- Programming Languages -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <p class="card-text">
                    Python, Bash (Linux), C++, R
                </p>
            </div>
        </div>
    </div>

    <!-- Web Technologies and DBMS -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Web Technologies and DBMS</h5>
                <p class="card-text">
                    HTML, CSS, Flask, Bootstrap, CytoscapeJS, MongoDB, SQL
                </p>
            </div>
        </div>
    </div>

    <!-- Data Science & Machine Learning -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Data Science & Machine Learning</h5>
                <p class="card-text">
                    Linear Regression, Logistic Regression, SVM, LDA, Decision Trees, Random Forest, PCA, 
                    K-Means Clustering, Ridge & Lasso Regularization, CNN, RNN, LSTM, Fine-Tuning, Pre-Training, 
                    NLP & LLMs, OpenAI Products, Prompt Engineering, Retrieval-Augmented Generation (RAG), 
                    Model Interpretation (SHAP, LIME)
                </p>
            </div>
        </div>
    </div>

    <!-- Libraries & Frameworks -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Libraries & Frameworks</h5>
                <p class="card-text">
                    PyTorch, Scikit-learn, TensorFlow, OpenCV, Transformers, Langchain, Spacy, Pandas, NumPy, 
                    Matplotlib, Seaborn, Networkx, Plotly, Streamlit
                </p>
            </div>
        </div>
    </div>

    <!-- Cloud Technologies -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Cloud Technologies</h5>
                <p class="card-text">
                    Microsoft Azure, Google Cloud
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
